.container{
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 10px;
}

.header__top{
    background: #EFEFEF;
}

.menu__list{
  display: flex;
  justify-content: end;
  padding: 15px 0;
}

.menu__list li:not(:last-child){
    margin-right: 10px;
}

.header__center-inner{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

.connect{
    display: flex;
    align-items: center;
}

.phone-number {
    margin-right: 40px;
}

.header__button{
    padding: 5px 10px;
    background: none;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.header-bottom__menu {
    justify-content: center;
}

.preview {
    background: #F13C6E;
    color: white;
}

.preview__inner {
    display: flex;
    align-items: center;
}

.preview__button{
    padding: 5px 10px;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 40px;
    color: #ffffff;
}
.preview__title{
    margin-bottom: 10px;
    font-size: 40px;
}
.preview__text{
    margin-bottom: 10px;
}

.shop{
    background: #bdbdbd;
}
.shop__item{
    width: 200px;
    height: 300px;
    background: rgb(255, 255, 255);
    text-align: center;
}
.shop__item-button{
    padding: 5px 10px;
    background: none;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    color: #ffffff;
    background: #F13C6E;
    margin-top: 20px;
}
.box__group-one{
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
}
.shop__item-price{
    margin-bottom: 0;
}
.shop__item + .shop__item{
    margin-left: 50px;
} 
.box__group-two{
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
}
.shop__title{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}
.popular__inner{
    text-align: center;
}

.footer{
    margin-top: 20px;
    background: #EFEFEF;

}
.footer__inner{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.popular__title{
    padding-top: 10px;
}
@media (max-width: 1173px){
    .header__img{
        padding-left: 10px;
    }
    .shop__item + .shop__item{
        margin-left: 0;
        margin-top: 10px;
    } 
    .box__group-one{
        display: block;
        margin: 0 auto;
        margin-left: 40%;
        
    }
    .box__group-two{
       display: block;
       margin: 0 auto;
       margin-left: 40%;
    }
}
@media (max-width: 624px){
    .preview__inner{
        display: block;
    }
    .preview__content{
        padding-top: 10px;
        text-align: center;
    }

}

