body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

ul{
    list-style: none; 
    margin: 0;
}
p {
    margin: 0;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}